.slide-fade-enter{
  transform: translateX(-100px);
  opacity: 0;
}
.slide-fade-enter-active {
  opacity: .5;
  transition: all .8s ease;
}
.slide-fade-enter-to{
  opacity: 0;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-leave-to{
  transform: translateX(300px);
  opacity: 0;
}

@keyframes breath{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes shine {
  0% {
    box-shadow: 0px 0px 10px 0px #333;
  }
  50% {
    box-shadow: 0px 0px 10px 5px #333;
  }
  100% {
    box-shadow: 0px 0px 10px 10px #333;
  }
}
.breath{
  animation: breath 2s linear infinite alternate;
}
.shine{
  animation: shine 2s linear infinite alternate;
}

